@font-face {
    font-family: OpenMine;
    src: url(./assets/font/OpenMine.ttf);
  }
body {
    background-color: rgb(26, 26, 26);
    font-family: OpenMine;
    color: white;
    font-size: 200%;
}

#bio{
  margin-top: 100px;
  margin-bottom: 78px;
}
.title{
  border-bottom: 2px solid #9c27b0;
}
.bio{
  line-height: 25px;
}

.contact-form{
  margin-top: 100px;
}

#portfolio{
  margin-top: 100px;
}

.submit-button{
  background-color: #9c27b0;
}

.nav-color{
  background-color: rgb(26, 26, 26);
}

.page-footer {
  margin-top: 100px;
  line-height: 20px;
  background-color: rgb(26, 26, 26);
}

#card-link{
  line-height: 15px;
  background-color: rgb(26, 26, 26);
}
#project-title{
  line-height: 25px;
  font-size: 140%;
}